# Node & Package Managers
node_modules/
.pnpm-store/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Turborepo
.turbo/

# Build Outputs
dist/
build/
out/
.next/

# Expo / React Native
.expo/
.expo-shared/
web-build/
*.tsbuildinfo

# Environment & Secrets
.env
.env.local
.env.*.local
*.pem

# IDE & OS Files
.DS_Store
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
