@import "tailwindcss";
@source "../../../packages/ui/src";
@import "@repo/ui/styles.css";

@layer base {
  :root, body, html {
    font-family: 'DM Sans', system-ui, -apple-system, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}