DATABASE_URL="postgresql://user:password@host:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://user:password@host:5432/postgres"

SUPABASE_URL="https://your-project.supabase.co"
SUPABASE_PUBLISHABLE_KEY="your-publishable-key"
SUPABASE_SECRET_KEY="your-secret-key"
SUPABASE_JWKS_URL="https://your-project.supabase.co/auth/v1/.well-known/jwks.json"

PORT=8000
NODE_ENV=development
JWT_SECRET="your-jwt-secret-key"
JWT_EXPIRES_IN="7d"
GOOGLE_CLIENT_ID="your-google-client-id"
RP_ID="localhost"
RP_NAME="Scan My Order"
ORIGIN="http://localhost:5173"

# Email SMTP Settings (Nodemailer)
SMTP_HOST="smtp.hostinger.com"
SMTP_PORT="465"
SMTP_USER="hello@webrizen.com"
SMTP_PASS="your-smtp-password"
EMAIL_FROM="hello@webrizen.com"

# PhonePe Payment Gateway Sandbox Credentials
PHONEPE_HOST="https://api-preprod.phonepe.com/apis/pg-sandbox"
PHONEPE_MERCHANT_ID="PGTESTPAYUAT"
PHONEPE_SALT_KEY="099eb0cd-02cf-4e2a-8aca-3e6c6aff0399"
PHONEPE_SALT_INDEX="1"

# Frontend Applications Base URLs
# TODO: Later when Operations Panel is developed, point PHONEPE_REDIRECT_URL to Operations App domain (http://localhost:5176/subscriptions)
PHONEPE_REDIRECT_URL="http://localhost:5176/subscriptions"
ADMIN_APP_URL="http://localhost:5173"
MARKETING_APP_URL="http://localhost:5174"
MENU_APP_URL="http://localhost:5175"
OPERATIONS_APP_URL="http://localhost:5176"
