@import "tailwindcss";
@source "../../../packages/ui/src";
@import "@repo/ui/styles.css";

* {
    font-family: "DM Sans", sans-serif;
    font-display: swap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
