# Backend REST API URL
VITE_API_URL=http://localhost:8000/api

# Linked Customer Menu App URL (Used for Table QR Code Links e.g. http://localhost:5175)
VITE_CUSTOMER_APP_URL=http://localhost:5175

# Linked Applications Base URLs
VITE_ADMIN_APP_URL=http://localhost:5173
VITE_MARKETING_APP_URL=http://localhost:5174
