# Backend REST API URL
VITE_API_URL=http://localhost:8000/api

# Linked Frontend Applications Base URLs
VITE_ADMIN_APP_URL=http://localhost:5173
VITE_MENU_APP_URL=http://localhost:5175
VITE_OPERATIONS_APP_URL=http://localhost:5176
